.card__detail {
  min-width: 500px;
  max-width: 600px;
  background-color: rgb(21, 196, 196);
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 30px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__detail-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__detail-title {
  font-size: 26px;
  padding-left: 40px;
}
.card__detail-dates {
  font-size: 20px;
  color: rgb(80, 75, 75);
  padding-bottom: 20px;
}
.card__icon {
  margin-left: 40px;
  width: 40px;
}
