.card {
  background-color: rgb(21, 196, 196);
  width: 240px;
  height: 380px;
  border-radius: 25px;
  padding-bottom: 20px;
  margin: 15px;
  grid-row: auto;
}
.card__img {
  width: 200px;
  padding-top: 15px;
  padding-left: 20px;
  border-radius: 25px;
}

.card__title {
  font-size: 20px;
  margin-left: 40px;
}
.card__li {
  font-size: 16px;
  padding-bottom: 10px;
}
.card__li-icon {
  width: 50px;
}
