.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.header__logo {
  width: 350px;
  margin-bottom: 20px;
}

.header__title {
  font-size: 30px;
  color: rgb(21, 196, 196);
}
.header__hero {
  width: 100vw;
  height: 500px;
}
.hero {
  width: 100%;
  height: 500px;
  background-image: url("../images/rick_morty.jpeg");
  background-size: cover;
  background-position: bottom;
}
